body{
    margin-top: 60px;
    overflow-x: hidden;
}




main {
    transform: translate(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#restaurante{
    display: flex;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 9px 20.4px 2px rgba(0, 16, 37, 0.10);
}

#restaurante img{
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 60%;
    
}
#container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    padding: 0px 32px;
    
}

#container1 h1{
    font-size: 36px;
    font-weight: 600;
    width: 100%;
}

#container1 h3{
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 4px;
}


.infos{
    display: flex;
    gap: 24px;

}

#container1 p{
    font-weight: 500;
}

#container1 h3 p{
    font-size: 14px;
    word-spacing: 1px;
    font-weight: 400;

}





h2{
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;

}

#nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    position: absolute;
    padding-left: 10px;
    top: 500px;
    left: 0px;
    z-index: 10;
    height: 64px;
    gap: 12px;
    box-shadow: 0px 9px 20.4px 2px rgba(0, 16, 37, 0.10);
}

#nav button{
    background-color: #777777;
    padding: 8px 12px;
    height: fit-content;
    border: none;
    border-radius: 4px;
    color: white;
    transition: .2s ease;
    cursor: pointer;

}

#nav button:hover{
    background-color: #9f9f9f;
}
.ativo{
    background-color: #9f9f9f !important;
}

#cardapio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    gap: 24px;
    padding-top: 80px;
    padding-bottom: 60px;
}

.prato{
    background-color: white;
    display: flex;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s ease;
    box-shadow: 0px 9px 20.4px 2px rgba(0, 16, 37, 0.10);
}

.prato:hover{
    transform: scale(1.02);
}

#textos{
    display: flex;
    flex-direction: column;
    padding: 32px;
    width: 700px;
    justify-content: space-between;
}

.prato img{
    width: 300px;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#textos h3{
    font-size: 24px;
    font-weight: 600;
}

#textos:first-child p{
    line-height: 28px;
       
}

#textos p:nth-child(3){
    font-weight: 600;
       
}

#overlayPopup{
    position: fixed;  /* Fixa no viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); /* Preto com 60% de opacidade */
    display: none; /* Inicialmente escondido */
    justify-content: center;
    align-items: center;
    z-index: 15;
    animation: fadeIn .1s linear forwards;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    } to{
        opacity: 1;
    }
    
}

#pratoPopup{
    display: flex;
    background-color: white;
    border-radius: 4px;
    position: relative;
}

#textosPopup{
    display: flex;
    flex-direction: column;
    width: 700px;
    padding: 32px;
    gap: 16px;
}

#textosPopup h3{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 16px;
}
#textosPopup label{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 500;
    gap: 4px;
    margin-top: 16px;
}

#observacao{
    background-color: #eaeaea;
    border: none;
    border-radius: 4px;
    resize: none;
    padding: 8px;

}

#observacao:focus{
    outline: none;
}


#pratoPopup img{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 420px;
    height: 420px;
}

#x{
    width: 20px !important;
    height: 20px !important;
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 20;
    cursor: pointer;
}

#adicionar{
    display: flex;
    align-items: center;
    gap: 16px;
}

#adicionar p{
    font-size: 18px;
    font-weight: 600;
}

#adicionar input{
    background-color: #eaeaea;
    border: none;
    width: 80px;
    border-radius: 4px;
    height: 39px;
    text-align: center;
    padding-left: 14px;
}

#adicionar input:focus{
    outline: none;
}

#adicionar button{
    background-color: #388CFF;
    width: 185px;
    padding: 10px 0px;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    transition: .2s ease;
    cursor: pointer;

}

#adicionar button:hover{
    background-color: #569cfd;
}

.carrinho{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 20;
    height: 100vh;
    width: 324px;
    background-color: white;
    box-shadow: 6px 4px 26.4px 0px rgba(0, 0, 0, 0.25);
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    animation: carrinho .4s ease forwards;


}

@keyframes carrinho {
    from{
        transform: translateX(-100%);
    } to {
        transform: translateX(0%)
    }
}


@keyframes carrinhoOut {
    from{
        transform: translateX(0%);
    } to {
        transform: translateX(-100%)
    }
}

.fadeout{
    animation: carrinhoOut .4s ease forwards;
}

#carrinhoPratos{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 8px;
}
#carrinhoPratos h2{
    margin-top: 24px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
}

#scroll{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 8px;
    overflow-y: scroll;
    padding-right: 8px;
    margin-right: -17px;
    height: 35vh;
}

#scroll::-webkit-scrollbar{
    width: 9px;

}
#scroll::-webkit-scrollbar-thumb{
    background-color: #bababa;
    width: 9px;
    border-radius: 16px;
    border: none;

}

#scroll::-webkit-scrollbar-track{
    background: none;

}


.cardPrato{
    display: flex;
    background-color: #777777;
    padding: 12px 12px;
    width: 249px;
    height: fit-content;
    border: none;
    border-radius: 4px;
    transition: .2s ease;
    position: relative;
    justify-content: center;

}

.cardPrato:hover{
    background-color: #868686;
}

.cardPrato p{
    color: white;
}
.cardPrato img{
    position: absolute;
    right: 12px;
    top: 16px;
    cursor: pointer;
    width: 12px;
}

.carrinho form{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 265px;
}

#pagamento{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 40px;
}
#pagamento h3{
    font-size: 20px;
    
}
#radio{
    display: flex;
    gap: 12px;
}
#radio label{
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 2px;
}

#endereco{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 24px;
}
#endereco h3{
    font-size: 20px;
}
#endereco div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 265px;
    gap: 16px;
    
}
#endereco label{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 4px;

}
#endereco label input{
    border: none;
    border-radius: 4px;
    background-color: #eaeaea;
    padding: 6px 0px;

}

#endereco label:nth-child(1) input{
    width: 256px;
}
#endereco label:nth-child(2) input{
    width: 83px;
}
#endereco label:nth-child(3) input{
    width: 83px;
}


.local{
    flex-direction: row !important;
    justify-content: center;
    gap: 12px;
    margin-top: 16px;
}
.local label{
    flex-direction: row !important;
    align-items: center;
    gap: 2px;
    width: fit-content !important;
}
.res{
    width: fit-content !important;
}
.com{
        width: fit-content !important;
}
.carrinho form button{
    background-color: #388CFF;
    padding: 12px 0px;
    width: 100%;
    border: none;
    border-radius: 4px;
    transition: .2s ease;
    justify-content: center;
    color: white;
    cursor: pointer;
}
.carrinho form button:hover{
    background-color: #569cfd;
    
}

#overlayCarrinho{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 30;
}