

@font-face {
    font-family: "Montserrat";
    src: url(../imagens/Montserrat-VariableFont_wght.ttf) format('truetype');
}

*{
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-size: 16px;
    color: rgb(41, 41, 41);
}

.body{
    font-size: 14px;
    letter-spacing: .6px;

}