*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #F1F1F4;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
}

header{
    padding: 48px 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

header h2{
    font-size: 2.0vw;
    font-weight: 600;
    opacity: .90;
}

#autores{
    display: flex;
    gap: 8px;
}

#autores a{
    font-size: 14px;
    opacity: .8;
}

#heroBanner{
    display: flex;
    padding: 0px 32px;
    gap: 32px;
    z-index: 1;
}
#heroBanner img{
    width: 38.3vw;
    box-shadow: 5px 13px 45px -10px rgba(0, 0, 0, 0.51);
    border-radius: 2.5vw;
}

#heroContent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: fit-content;
}

h1{
    font-size: 2.4vw;
    font-weight: 700;
    opacity: .95;
}
#heroContent p{
    font-size: 1.1vw;
    font-weight: 500;
    opacity: .8;   
    line-height: 1.7vw;
    word-wrap: break-word;
    overflow-wrap: break-word;
    
    
}

#heroBtns{
    display: flex;
    gap: 12px;
    margin-top: 24px;
}
#heroBtns button{
    padding: 24px 64px;
    border: none;
    border-radius: 16px;
    background-color: #777777;
    color: white;
    font-weight: 500;
    cursor: pointer;
    min-width: 280px;
    transition: .2s ease;
}
#heroBtns button:hover{
    background-color: #989898;
    
}
#heroBtns button:first-child{
    background-color: #388CFF;
    
}
#heroBtns button:first-child:hover{
    background-color: #79b1ff;
    
}

#visaoGeral{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    gap: 100px;
    z-index: 1;
}

#visaoGeral h2{
    font-size: 2.4vw;
    opacity: .95;
    font-weight: 600;
}

.container {
    display: flex;
    padding: 0px 32px;
    gap: 32px;
    z-index: 1;
}

.container img{
    width: 52.5vw;
    border-radius: 1.5vw;
    box-shadow: 5px 13px 45px -10px rgba(0, 0, 0, 0.51);
    z-index: 1;
}

.containerText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    width: 40vw;
    z-index: 1;
}
.containerText h3{
    font-size: 1.8vw;
    font-weight: 700;
    opacity: .85;
    z-index: 1;
}
.containerText p{
    font-weight: 500;
    opacity: .75;
    line-height: 1.7vw;
    z-index: 1;
    
    
}

#elipse{
    position: absolute;
    z-index: 0;
    right: -200px;
    top: 00px;
    transform: scale(1.4);
    filter: blur(226.1999969482422px);
    opacity: .8;
       
}
#elipse2{
    position: absolute;
    z-index: 0;
    left: -300px;
    top: 850px;
    transform: scale(1.2);
    filter: blur(300px);
    opacity: .8;
       
}

.reverse {
    flex-direction: row-reverse;
}

@media (max-width: 1500px) {
    #elipse{
        transform: scale(1);
        opacity: .6;
    }
    #elipse2{
        transform: scale(1);
        top: 700px;
    }

}
@media (max-width: 1024px) {
    #elipse{
        top: -200px;
        transform: scale(.8);
    }
    #elipse2{
        transform: scale(.6);
        top: 550px;
    }

}