*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #F1F1F4;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
}

header{
    padding: 48px 3.3vw;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

header h2{
    font-size: 2.0vw;
    font-weight: 600;
    opacity: .90;
}

#autores{
    display: flex;
    gap: 8px;
}

#autores a{
    font-size: 14px;
    opacity: .8;
}

#heroBanner{
    display: flex;
    padding: 0px 3.3vw;
    gap: 1.6vw;
    z-index: 1;
    height: calc(80vh - 156px);
    align-items: center;
}
#heroBanner img{
    width: 36vw;
    box-shadow: 5px 13px 45px -10px rgba(0, 0, 0, 0.51);
    border-radius: 2.5vw;
}

#heroContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.8vw;
    width: fit-content;
    height: 55vh;
}

h1{
    font-size: 3.2vw;
    font-weight: 700;
    opacity: .9;
}
#heroContent p{
    font-size: 1.1vw;
    font-weight: 500;
    opacity: .8;   
    line-height: 1.7vw;
    word-wrap: break-word;
    overflow-wrap: break-word;
    
    
}

#heroBtns{
    display: flex;
    gap: 12px;
    margin-top: 24px;
}
#heroBtns button{
    padding: 20px 64px;
    border: none;
    border-radius: 16px;
    background-color: #777777;
    color: white;
    font-weight: 500;
    cursor: pointer;
    min-width: 280px;
    transition: .2s ease;
    font-size: 18px;
}
#heroBtns button:hover{
    background-color: #989898;
    
}
#button1{
    background-color: #388CFF!important;
    
}
#button1:hover{
    background-color: #79b1ff!important;
    
}

#visaoGeral{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 100px;
    z-index: 1;
}

#visaoGeral h2{
    font-size: 2.4vw;
    opacity: .95;
    font-weight: 600;
}

.container {
    display: flex;
    padding: 0px 3.3vw;
    gap: 2vw;
    z-index: 1;
}

.container img{
    width: 50%;
    border-radius: 1.5vw;
    box-shadow: 5px 13px 45px -10px rgba(0, 0, 0, 0.51);
    z-index: 1;
}

.containerText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    width: 50%;
    z-index: 1;
    text-align: justify;
    hyphens: auto;
}
.containerText h3{
    font-size: 1.8vw;
    font-weight: 700;
    opacity: .85;
    z-index: 1;
}
.containerText p{
    font-weight: 500;
    opacity: .75;
    line-height: 1.7vw;
    z-index: 1;
    
    
}

#elipse{
    position: absolute;
    z-index: 0;
    right: -200px;
    top: 00px;
    transform: scale(1.4);
    filter: blur(226.1999969482422px);
    opacity: .8;
       
}
#elipse2{
    position: absolute;
    z-index: 0;
    left: -300px;
    top: 850px;
    transform: scale(1.2);
    filter: blur(300px);
    opacity: .8;
       
}

.reverse {
    flex-direction: row-reverse;
}

#organizacaoProjeto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    gap: 64px;
    padding: 0px 3.3vw;
}
#organizacaoProjeto h2{
    font-size: 2.4vw;
    opacity: .95;
    font-weight: 600;
}
#organizacaoProjeto img{
    width: 90%;
    border-radius: 1.5vw;
    box-shadow: 10px 20px 45px 5px rgba(0, 0, 0, 0.51);
}

#POO{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 80%;
}

#organizacaoProjeto p{
    font-weight: 500;
    opacity: .75;
    line-height: 1.7vw;
    z-index: 1;
    font-size: 1.1vw;
    text-align: justify;
}

strong {
    font-weight: 700;
    opacity: .8;
    line-height: 1.7vw;
    z-index: 1;
    font-size: 1.1vw;
    color: black!important;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

li {
    font-weight: 500;
    opacity: .75;
    line-height: 1.7vw;
    z-index: 1;
    font-size: 1vw;
}

#video{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding: 0px 3.3vw;
    width: 100%;
    padding-bottom: 64px;
    margin-top: 64px;
}
#video h2{
    font-size: 2.4vw;
    opacity: .95;
    font-weight: 600;
}
#video iframe{
    height: 720px;
    width: 1280px;
    border-radius: 1.5vw;
}

#gradient{
    position: absolute;
    width: 100%;
    height: 200vh;
    background: linear-gradient(0deg, #C8DFFF 0%, rgba(165, 214, 224, 0.00) 100%);
    bottom: 0px;
    left: 0px;
    z-index: -1;
}
#gradientCel{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #C8DFFF 0%, rgba(165, 214, 224, 0.00) 100%);
    top: 0px;
    left: 0px;
    z-index: -1;
    display: none;
}


@media (max-width: 1500px) {
    #elipse{
        transform: scale(1);
        opacity: .6;
    }
    #elipse2{
        transform: scale(1);
        top: 700px;
    }

    h1{
        font-size: 3.8vw;
    }
    #video iframe{
        height: 576px;
        width: 1024px;
    }
    #heroContent p{
        font-size: 16px;
        
        
    }
    #organizacaoProjeto p{
        font-size: 16px;
    }
    
    strong {
        font-size: 16px;
    }
    
    li {
        font-size: 16px;
    }
}
@media (max-width: 1024px) {
    #elipse{
        top: -200px;
        transform: scale(.8);
    }
    #elipse2{
        transform: scale(.6);
        top: 550px;
    }

    #video iframe{
        height: 480px;
        width: 854px;
    }

}

@media (max-width: 724px) {

    header{
        padding: 24px 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    
    header h2{
        font-size: 24px;
        font-weight: 700;
        opacity: .90;
    }
    
    #autores{
        display: flex;
        gap: 8px;
        
    }
    
    #autores a{
        font-size: 14px;
        opacity: .8;
        min-width: auto;
    }

    #heroBanner {
        flex-direction: column-reverse;
        max-width: 100%;
        padding: 0px 20px;
        gap: 32px;
        height: auto;
    }

    #heroBanner img{
        width: 100%;
        box-shadow: 5px 13px 45px -10px rgba(0, 0, 0, 0.51);
        border-radius: 5vw;
    }
    
    #heroContent{
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 24px;
        width: 100%;
        height: auto;
        
    }
    
    h1{
        font-size: 6vw; 
        font-weight: 700;
        opacity: .95;
    }
    #heroContent p{
        font-size: 14px;
        font-weight: 500;
        opacity: .8;   
        line-height: 20px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        width: 100%;
        text-align: justify;
        hyphens: auto;
        
    }
    
    #heroBtns{
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 16px;
        max-width: 100%;
        padding: 0px;
    }
    #heroBtns button{
        padding: 16px 0px;
        min-width: 100%;
        border: none;
        border-radius: 16px;
        background-color: #777777;
        color: white;
        font-weight: 500;
        cursor: pointer;
        transition: .2s ease;
        font-size: 16px;
    }
    a{
        min-width: calc(50% - 4px);
    }

    #visaoGeral{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        z-index: 1;
    }
    
    #visaoGeral h2{
        font-size: 24px;
        opacity: .95;
        font-weight: 700;
        margin-bottom: -24px;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
        gap: 20px;
        z-index: 1;
    }
    
    .container img{
        width: 100%;
        border-radius: 5vw;
        box-shadow: 5px 13px 45px -10px rgba(0, 0, 0, 0.51);
        z-index: 1;
    }
    
    .containerText{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        width: 100%;
        z-index: 1;
    }
    .containerText h3{
        align-self: center;
        font-size: 20px;
        font-weight: 700;
        opacity: .85;
        z-index: 1;
    }
    .containerText p{
        font-weight: 500;
        opacity: .75;
        line-height: 20px;
        z-index: 1;
        font-size: 14px;
        text-align: justify;
        
    }
    
    #elipse{
        position: absolute;
        z-index: 0;
        right: -160px;
        top: -300px;
        transform: scale(.6);
        filter: blur(226.1999969482422px);
        opacity: .3;
        -webkit-filter: blur(50px);
        z-index: -1;
        display: none;
    }
    #elipse2{
        display: none;
           
    }

    #video iframe{
        height: 180px;
        width: 320px;
    }

    #organizacaoProjeto{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        gap: 24px;
        padding: 0px 20px;
    }
    #organizacaoProjeto h2{
        font-size: 24px;
        opacity: .95;
        font-weight: 700;
    }
    #organizacaoProjeto img{
        width: 100%;
        border-radius: 1.5vw;
        box-shadow: 10px 20px 25px -10px rgba(0, 0, 0, 0.51);
    }
    
    #POO{
        display: flex;
        flex-direction: column;
        gap: 48px;
        width: 100%;
    }
    
    #organizacaoProjeto p{
        font-weight: 500;
        opacity: .75;
        line-height: 20px;
        z-index: 1;
        font-size: 14px;
        text-align: justify;
    }
    
    strong {
        font-weight: 700;
        opacity: .8;
        line-height: 20px;
        z-index: 1;
        font-size: 14px;
        color: black!important;
    }

    ul{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    
    li {
        font-weight: 500;
        opacity: .75;
        line-height: 20px;
        z-index: 1;
        font-size: 14px;
    }
    
    #video{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        padding: 0px 3.3vw;
        width: 100%;
        padding-bottom: 64px;
        margin-top: 64px;
    }
    #video h2{
        font-size: 5.6vw;
        opacity: .95;
        font-weight: 700;
    }

    #gradientCel{
        display: flex;
    }
}